.top-links {
  text-align: center;
  padding: 16px 0;

  a {
    text-decoration: none;
    color: #0099ff;
    margin-left: 32px;

    &.active {
      color: black;
      cursor: default;
    }
  }
}

.c-dashboard {
  margin: 8px 16px;

  &__header {
    display: flex;
    justify-content: center;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.c-filters {
  &__container {
    margin: 0 0 8px;
    padding: 16px 8px;
    display: flex;
    justify-content: center;
    border: 1px solid #dcdee3;
    background-color: #dae7f8;
  }
  &__search {
    .input {
      outline: none;
      border: none;
      padding: 0.6rem;  
    }
    .reset {
      background-color: $light-blue;
      color: #fff;
      padding: 0.7rem;
      border-radius: 5px;
    }
  }
}

.c-chart {
  &__container {
    height: 350px;
    width: 760px;
  }

  &__filter {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
  }
}

.c-button {
  height: 40px;
  background-color: #0099ff;
  color: white;
  min-width: 120px;
  padding: 0 16px;
  border-radius: 4px;
}
