.c-users-list {
  display: table;
  width: 100%;
  margin-bottom: 24px;
  font-size: 14px;

  &__header {
    display: table-row;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: $light-blue;

    > div {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      font-size: 14px;
      min-width: 155px;
      padding: 1rem;
    }
  }

  &__body {
    display: table-row;
    height: 64px;

    > div {
      display: table-cell;
      padding: 0 8px;
      vertical-align: middle;
    }

    &:nth-of-type(odd) {
      background-color: #ededef;
    }
  }

  &__avatar {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
  }

  &__main-info {
    display: flex;
    align-items: center;
  }

  &__highlightedText {
    background-color: #888;
    color: #fff;
  }
}
